@import 'shared.css';
* {
  user-select: none;
}

html {
  overflow: hidden;
}
body,
main {
  position: relative;
  min-height: 100vh;
  overflow: hidden;

  cursor: crosshair;

  color: var(--white);
  text-shadow: 0.05rem 0.05rem 0 var(--black);

  --card-aspect: calc(88.9 / 63.5);
  --bullet-size: 2rem;
  --magazine-gap: calc(var(--bullet-size) / 4);
  --mountain-height: 8rem;
  --mountain-width: calc(var(--mountain-height) / var(--card-aspect));
}

#start-screen,
#end-screen {
  position: relative;
  z-index: 9001;
  min-height: 100vh;

  cursor: default;
}
.top-menu {
  text-align: left;
  padding: 0.5rem;
}
.game-menu {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100vw;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.5rem;
}
.game-menu-title {
  position: relative;
  font-size: 4rem;
  margin: 0 -4rem 1rem;
  align-self: stretch;
}
.container-min-width {
  width: 14rem;
  display: flex;
  flex-direction: inherit;
  gap: inherit;
}
.toggle-audio:after {
  content: '🔊';
  margin-left: 0.5rem;
}
.toggle-audio.sound-off:after {
  content: '🔇' !important;
}
header,
#timer,
#score {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
#game {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}
header {
  padding: calc(var(--bullet-size) / 4);
  font-size: 2.5rem;
}
footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding: calc(var(--bullet-size) / 2);
}
#magazine {
  display: flex;
  flex-direction: row;
  justify-content: end;
  width: calc(var(--bullet-size) * 7 + var(--magazine-gap) * 6);
  gap: var(--magazine-gap);
}
.bullet {
  display: inline-block;
  height: var(--bullet-size);
  width: var(--bullet-size);
  background-image: url('mana-red.svg');
  background-size: var(--bullet-size);
  filter: drop-shadow(-0.025rem 0.1rem 0 var(--black));
  opacity: 1;
  animation: fade-in 0.3s ease-in-out, bird-letter 1s ease-out forwards;
}
.bullet.shot {
  animation: damage 100ms ease-out forwards;
}

#reload {
  position: absolute;
  pointer-events: none !important;
  z-index: 1337;
  top: 50%;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  transform: translateY(-50%);
}
#reload-text {
  font-size: 2rem;
}
#mountains {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  width: 100vw;
}
.mountain {
  display: inline-block;
  content: url('ody-344-mountain.jpg');
  height: var(--mountain-height);
  border-radius: 0.25rem;
  transform-origin: 50% 75%;
  margin-left: calc((var(--mountain-width) / 1.5) * -1);
  --mountain-delay: 0ms;
  --mountain-duration: 500ms;
  animation: title 500ms ease-out forwards,
    tap var(--mountain-duration) ease var(--mountain-delay) forwards;
}
.mountain:last-of-type {
  margin-right: 0;
}
.fade-out {
  --fade-duration: 500ms;
  --fade-delay: 0ms;

  background: var(--black-50);

  animation: fade-out var(--fade-duration) ease var(--fade-delay) forwards;
}

.bird {
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.16))
    drop-shadow(0 4px 3px rgba(0, 0, 0, 0.23));

  translate: -50% -50%;
}
.bird-inner {
  pointer-events: auto !important;
}
.bird-inner > img {
  position: relative;
  max-width: 6rem;
  max-height: 5rem;
}
.bird.hit > .bird-inner > img {
  animation: shaking 50ms linear 10, fade-out 100ms linear forwards 200ms;
}
.bird-flip-y {
  /*BUG: Pointer events aren't registered for negative scaled elements with property "scale"*/
  /*scale: -1 1; */
  transform: scale(-1, 1);
}
.spinning {
  animation: spin-right 1s linear infinite;
}
.at-cursor {
  --cursor-x: 0;
  --cursor-y: 0;
  pointer-events: none !important;
  position: absolute;
  left: calc(var(--cursor-x) * 1px);
  top: calc(var(--cursor-y) * 1px);
}
.damage {
  z-index: 1337;
  animation: damage 800ms ease-out forwards;
  color: var(--red-alert);
  text-shadow: 0.05rem 0.05rem 0.05rem var(--red-dark);
}
.damage > div {
  transform: translate(-50%, -100%);
  font-size: 2rem;
}
.shake {
  animation: tremble 100ms ease-out;
}

.splash {
  height: 4rem;
  width: 4rem;
  transform: translate(-50%, -50%) scaleY(0.5);
}
.splash > div {
  height: inherit;
  width: inherit;
  animation: cursor-splash 1s ease-out;
  border-radius: 99rem;
  outline: 0.3rem solid var(--white-50);
}
.splash > div:after {
  content: '';
  display: block;
  height: inherit;
  width: inherit;
  animation: cursor-splash 1s ease-out 50ms;
  border-radius: 99rem;
  outline: 0.3rem solid var(--white);
}

.puff {
  height: 3rem;
  width: 3rem;
  transform: translate(-50%, -50%);
}
.puff > div {
  height: inherit;
  width: inherit;
  animation: cursor-splash 500ms ease-out;
  border-radius: 99rem;
  outline: 0.5rem dotted var(--white-50);
}
.puff > div:after {
  content: '';
  display: block;
  height: inherit;
  width: inherit;
  animation: cursor-splash 470ms ease-out 30ms;
  border-radius: 99rem;
  outline: 0.5rem dotted var(--white);
}
#end-screen .game-menu-title {
  background: linear-gradient(to bottom, var(--orange) 10%, var(--yellow) 110%);
  text-shadow: none;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(0.05rem 0.05rem var(--black));
  animation: bird-letter 3s ease infinite;
}
#results {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  text-align: left;
  margin-bottom: 1.5rem;
}
#results .row {
  justify-content: space-between;
  border-bottom: 0.1rem dashed var(--white-50);
}
#results .row:last-child {
  border-bottom: none;
}
.score-label {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25rem;
}
.score-label:before {
  content: '';
  display: inline-block;
  height: 1.8rem;
  width: 2.4rem;
  margin-right: 0.5rem;
  border-radius: 0.25rem;
  filter: drop-shadow(0.05rem 0.05rem 0 var(--black-50));
}
#bolted-score {
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" style="font-size: 32px; text-shadow: 0.025rem 0.025rem 0 black;" height="64" width="64"><text y="32" x="0">🐦</text></svg>')
      16 16,
    pointer;
}
#bolted-score .score-label:before {
  background: url('bolted.gif') no-repeat 40% 0;
  background-size: auto 1.8rem;
}
#escaped-score {
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" style="font-size: 32px; text-shadow: 0.025rem 0.025rem 0 black;" height="64" width="64"><text y="32" x="0">💨</text></svg>')
      16 16,
    pointer;
}
#escaped-score .score-label:before {
  background: url('escaped.gif') no-repeat 0 20%;
  background-size: auto 2.2rem;
}
#missed-score {
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" style="font-size: 32px; text-shadow: 0.025rem 0.025rem 0 black;" height="64" width="64"><text y="32" x="0">👀</text></svg>')
      16 16,
    pointer;
}
#missed-score .score-label:before {
  background: url('missed.gif') no-repeat 75% 0;
  background-size: auto 2.4rem;
}
.score-value {
  font-size: 2.5rem;
}
