@import 'shared.css';
* {
  user-select: none;
}
:root {
  height: 100%;
}
html {
  overflow: hidden;
}
body,
main {
  position: relative;
  height: 100vh;
  max-height: 100%;
  overflow: hidden;

  cursor: crosshair;

  color: var(--white);
  text-shadow: var(--text-shadow-default);

  --card-aspect: calc(88.9 / 63.5);
  --bullet-size: 2rem;
  --magazine-gap: calc(var(--bullet-size) / 4);
  --mountain-height: 8rem;
  --mountain-width: calc(var(--mountain-height) / var(--card-aspect));
}

#start-screen,
#end-screen {
  position: relative;
  z-index: 9001;
  height: 100vh;
  max-height: 100%;

  cursor: default;
}
#start-screen,
#help-screen,
#end-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.top-menu {
  text-align: left;
  padding: 0.5rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
}
.game-menu {
  width: 100vw;
  max-width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.5rem;
}
.game-menu-title {
  position: relative;
  font-size: 4rem;
  margin: 0 -4rem 1rem;
  align-self: stretch;
}
.container-min-width {
  width: 15rem;
  display: flex;
  flex-direction: inherit;
  gap: inherit;
}
.toggle-audio:after {
  content: '🔊';
  margin-left: 0.5rem;
}
.toggle-audio.sound-off:after {
  content: '🔇' !important;
}
#show-help {
  margin-top: 0.5rem;
}
#help-screen {
  position: absolute;
  height: 100vh;
  max-height: 100%;
  width: 100vw;
  max-width: 100%;
  z-index: 9999;
  background: var(--black-50);

  cursor: default;
}
#help-screen .help-back {
  position: absolute;
  top: 4.5rem;
  left: 0.5rem;
  z-index: 9999;
}
#help-screen .game-menu {
  --help-gap: 1.5rem;
  gap: var(--help-gap);
  max-height: calc(100% - 9rem);
  padding-bottom: var(--help-gap);
  overflow-y: auto !important;
  translate: 0 0.5rem;
}
.scroll-spy:before,
.scroll-spy:after {
  z-index: -1;
  font-size: 3rem;
  opacity: 0.25;
  position: absolute;
  left: 50%;
  animation: hovering 2s ease-out infinite;
}
.scroll-spy.show-up:before {
  content: '▲';
  top: 0;
  translate: -50% 100%;
  scale: 2 1;
}
.scroll-spy.show-down:after {
  content: '▼';
  bottom: 0.4rem;
  translate: -50% -100%;
  scale: 2 1;
  animation-name: hovering-flipped;
}
#help-screen .game-menu-title {
  margin: 0;
}
#help-screen h2 {
  font-size: 1.8rem;
  --bullet-size: 1.6rem;
  border-bottom: 0.06rem dashed var(--white);
  padding-bottom: 0.1rem;
  margin-bottom: 0.1rem;
}
#help-screen p {
  --bullet-size: 0.8rem;
}
header,
#timer,
#score {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}
#game {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}
header {
  padding: calc(var(--bullet-size) / 4);
  font-size: 3rem;
}
footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: calc(var(--bullet-size) / 2);
}
#magazine {
  display: flex;
  flex-direction: row;
  justify-content: end;
  width: calc(var(--bullet-size) * 7 + var(--magazine-gap) * 6);
  gap: var(--magazine-gap);
}
.bullet {
  display: inline-block;
  height: var(--bullet-size);
  width: var(--bullet-size);
  background-image: url('mana-red.svg');
  background-size: var(--bullet-size);
  filter: drop-shadow(-0.025rem 0.1rem 0 var(--black));
  opacity: 1;
  animation: fade-in 0.3s ease-in-out, bird-letter 1s ease-out forwards;
}
.bullet.shot {
  animation: damage 100ms ease-out forwards;
}

#reload {
  position: absolute;
  pointer-events: none !important;
  z-index: 1337;
  top: 50%;
  left: 0;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  transform: translateY(-50%);
}
#reload-text {
  font-size: 2.5rem;
}
#mountains {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 100%;
}
.mountain {
  display: inline-block;
  content: url('ody-344-mountain.jpg');
  height: var(--mountain-height);
  border-radius: 0.25rem;
  transform-origin: 50% 75%;
  margin-left: calc((var(--mountain-width) / 1.5) * -1);
  --mountain-delay: 0ms;
  --mountain-duration: 500ms;
  animation: title 500ms ease-out forwards,
    tap var(--mountain-duration) ease var(--mountain-delay) forwards;
}
.mountain:last-of-type {
  margin-right: 0;
}
.fade-out {
  --fade-duration: 500ms;
  --fade-delay: 0ms;

  background: var(--black-50);

  animation: fade-out var(--fade-duration) ease var(--fade-delay) forwards;
}

.bird {
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.16))
    drop-shadow(0 4px 3px rgba(0, 0, 0, 0.23));

  translate: -50% -50%;
}
.bird-inner {
  pointer-events: auto !important;
}
.bird-inner > img {
  position: relative;
  max-width: 6rem;
  max-height: 5rem;
}
.bird.hit > .bird-inner > img {
  animation: shaking 50ms linear 10, fade-out 100ms linear forwards 200ms;
}
.bird-flip-y {
  /*BUG: Pointer events aren't registered for negative scaled elements with property "scale"*/
  /*scale: -1 1; */
  transform: scale(-1, 1);
}
.spinning {
  animation: spin-right 1s linear infinite;
}
.at-cursor {
  --cursor-x: 0;
  --cursor-y: 0;
  pointer-events: none !important;
  position: absolute;
  left: calc(var(--cursor-x) * 1px);
  top: calc(var(--cursor-y) * 1px);
}
.damage {
  z-index: 1337;
  animation: damage 800ms ease-out forwards;
  color: var(--red-alert);
  text-shadow: 0.05rem 0.05rem 0.05rem var(--red-dark);
}
.damage > div {
  transform: translate(-50%, -100%);
  font-size: 2rem;
}
.shake {
  animation: tremble 100ms ease-out;
}

.splash {
  height: 4rem;
  width: 4rem;
  transform: translate(-50%, -50%) scaleY(0.5);
}
.splash > div {
  height: inherit;
  width: inherit;
  animation: cursor-splash 1s ease-out;
  border-radius: 99rem;
  outline: 0.3rem solid var(--white-50);
}
.splash > div:after {
  content: '';
  display: block;
  height: inherit;
  width: inherit;
  animation: cursor-splash 1s ease-out 50ms;
  border-radius: 99rem;
  outline: 0.3rem solid var(--white);
}

.puff {
  height: 3rem;
  width: 3rem;
  transform: translate(-50%, -50%);
}
.puff > div {
  height: inherit;
  width: inherit;
  animation: cursor-splash 500ms ease-out;
  border-radius: 99rem;
  outline: 0.5rem dotted var(--white-50);
}
.puff > div:after {
  content: '';
  display: block;
  height: inherit;
  width: inherit;
  animation: cursor-splash 470ms ease-out 30ms;
  border-radius: 99rem;
  outline: 0.5rem dotted var(--white);
}
#end-screen .game-menu-title {
  background: linear-gradient(to bottom, var(--orange) 10%, var(--yellow) 110%);
  text-shadow: none;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(0.05rem 0.05rem var(--black));
  transform-origin: bottom center;
  animation: bird-letter 3s ease infinite 500ms;
}
.copyright {
  justify-content: center;
  padding-top: 1rem;
}

.table.results {
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  text-align: left;
  padding: 1.66rem 0.5rem;
  border-radius: 0.25rem;
}
.table.results:hover {
  outline: 0.1rem dotted var(--white);
}
.table.results:hover:after {
  content: '📋 Copy to Clipboard';
  white-space: nowrap;
  cursor: copy;
  font-size: 1rem;
  background: var(--blue);
  padding: 0 0.25rem;
  border-radius: 0.25rem;
  position: absolute;
  top: 0;
  left: 50%;
  translate: -50% -70%;
}
.table.results:active:after {
  content: '🚮 Carefully Copying your Results...' !important;
  background: var(--blue) !important;
  white-space: nowrap;
  cursor: copy;
  font-size: 1rem;
  padding: 0 0.25rem;
  border-radius: 0.25rem;
  position: absolute;
  top: 0;
  left: 50%;
  translate: -50% -70%;
}
.table.results.visited:hover:after {
  content: '✔ Copied to Clipboard';
  background: var(--green);
}
.table.results .row {
  justify-content: space-between;
  border-bottom: 0.1rem dashed var(--white-50);
}
.table.results .row:last-child {
  border-bottom: none;
}
.table .score-label {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25rem;
}
.table .score-label:before {
  content: '';
  display: inline-block;
  height: 1.8rem;
  width: 2.4rem;
  margin-right: 0.5rem;
  border-radius: 0.25rem;
  filter: drop-shadow(0.05rem 0.05rem 0 var(--black-50));
}
.table .bolted-score {
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" style="font-size: 32px; text-shadow: 0.025rem 0.025rem 0 black;" height="64" width="64"><text y="32" x="0">🐦</text></svg>')
      16 16,
    pointer;
}
.table .bolted-score .score-label:before {
  background: url('bolted.gif') no-repeat 40% 0;
  background-size: auto 1.8rem;
}
.table .escaped-score {
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" style="font-size: 32px; text-shadow: 0.025rem 0.025rem 0 black;" height="64" width="64"><text y="32" x="0">💨</text></svg>')
      16 16,
    pointer;
}
.table .escaped-score .score-label:before {
  background: url('escaped.gif') no-repeat 0 20%;
  background-size: auto 2.2rem;
}
.table .missed-score {
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" style="font-size: 32px; text-shadow: 0.025rem 0.025rem 0 black;" height="64" width="64"><text y="32" x="0">👀</text></svg>')
      16 16,
    pointer;
}
.table .missed-score .score-label:before {
  background: url('missed.gif') no-repeat 75% 0;
  background-size: auto 2.4rem;
}
.table .score-value {
  font-size: 2.5rem;
}

.cards.results {
  --card-height: 13rem;
  --card-border-width: 0.03;
  height: var(--card-height);
  padding-bottom: 0.5rem;
}
.card {
  z-index: 2;
  font-size: calc(var(--card-height) * 0.1);
  position: absolute;
  aspect-ratio: 2.5 / 3.5;
  height: var(--card-height);
  background: url('https://cards.scryfall.io/large/front/5/2/52c79d57-a8eb-427d-86ac-b203c0bb7cda.jpg')
    center;
  background-size: auto 100%;
  border-radius: calc(var(--card-height) * var(--card-border-width));
  transform: perspective(10rem) translate3d(0, 0, -1rem) rotateZ(-2deg);
  transform-origin: center;
  transition: transform 400ms ease;
}
.card:first-child {
  z-index: 1;
  translate: -30% 0;
  transform: perspective(10rem) translate3d(0, 0, -1rem) rotateZ(-8deg);
}
.card:last-child {
  z-index: 1;
  translate: 30% 0;
  transform: perspective(10rem) translate3d(0, 0, -1rem) rotateZ(8deg);
}
.card:hover,
.card.hover {
  z-index: 9999;
  transform: perspective(10rem) translate3d(0, 0, 0) rotateZ(0);
}
.card .score-label {
  position: absolute;
  top: 5%;
  left: 7%;
  font-family: 'Lora', sans-serif;
  font-size: 0.5rem;
  line-height: 0.6rem;
  font-weight: bold;
  text-align: left;
  color: var(--black);
  text-shadow: none;
  background: var(--red-light);
  padding: 0 0.1rem;
  width: 86%;
}
.card:before {
  content: '';
  height: 44.6%;
  width: 86%;
  position: absolute;
  top: 11%;
  left: 7%;
}
.card:after {
  content: 'Score — Total';
  font-family: 'Lora', sans-serif;
  font-size: 0.4rem;
  line-height: 0.55rem;
  font-weight: bold;
  text-align: left;
  color: var(--black);
  text-shadow: none;
  padding: 0 0.1rem;
  box-sizing: border-box;

  width: 86.2%;
  position: absolute;
  top: 57%;
  left: 7%;
  background: var(--red-light);
}
.card .score-value {
  font-size: calc(var(--card-height) * 0.24);
}
.card-body {
  position: absolute;
  bottom: 7.5%;
  left: 7%;
  color: var(--red-alert);
  background: var(--red);
  text-shadow: -0.05rem 0.1rem 0.1rem var(--black),
    0.05rem -0.1rem 0.1rem var(--white-50);
  width: 86%;
  height: 30%;
}
.card-body:before {
  content: '⚡';
  z-index: 1;
  font-size: 0.4rem;
  text-shadow: none;
  position: absolute;
  top: -0.7rem;
  right: 0;
  color: black;
  filter: grayscale(1) brightness(0);
}
.card.bolted-score {
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" style="font-size: 32px; text-shadow: 0.025rem 0.025rem 0 black;" height="64" width="64"><text y="32" x="0">🐦</text></svg>')
      16 16,
    pointer;
}
.card.bolted-score:before {
  background: url('bolted.gif') no-repeat center;
  background-size: cover;
}
.card.escaped-score {
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" style="font-size: 32px; text-shadow: 0.025rem 0.025rem 0 black;" height="64" width="64"><text y="32" x="0">💨</text></svg>')
      16 16,
    pointer;
}
.card.escaped-score:before {
  background: url('escaped.gif') no-repeat center;
  background-size: cover;
}
.card.missed-score {
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" style="font-size: 32px; text-shadow: 0.025rem 0.025rem 0 black;" height="64" width="64"><text y="32" x="0">👀</text></svg>')
      16 16,
    pointer;
}
.card.missed-score:before {
  background: url('missed.gif') no-repeat center;
  background-size: cover;
}

.summary-toggle {
  margin-bottom: 1rem;
  align-self: center;
}
