@font-face {
  font-family: 'AmaticSC';
  src: url('AmaticSC-Regular.ttf');
}
@keyframes wing {
  30% {
    transform: translate(calc(var(--wing-side) * -95%), -50%)
      rotateZ(calc(var(--wing-side) * -40deg)) scale(2.8, 0.5)
      skewX(calc(var(--wing-side) * 10deg));
  }
  0%,
  100% {
    transform: translate(calc(var(--wing-side) * -95%), -50%)
      rotateZ(calc(var(--wing-side) * 10deg)) var(--wing-scale)
      skewX(calc(var(--wing-side) * 10deg));
  }
}
@keyframes bird-letter {
  0%,
  50% {
    transform: translateY(0);
  }
  10% {
    transform: scaleY(0.9);
  }
  25% {
    transform: translateY(-10%);
  }
}
@keyframes hovering {
  30% {
    transform: translateY(-0.25rem);
  }
}
@keyframes bolt-T {
  0%,
  100% {
    transform: rotateZ(10deg) translateY(-50%);
  }
  3% {
    transform: rotateZ(-2deg) translateY(0) scaleY(0.9);
  }
  10%,
  80% {
    transform: rotateZ(0deg) translateY(0);
  }
}
@keyframes bolt-BOL {
  0%,
  3%,
  100% {
    opacity: 0;
    transform: scale(0);
  }
  7% {
    opacity: 1;
    transform: scale(1.05);
  }
  10% {
    opacity: 1;
    transform: scale(0.95);
  }
  12.5%,
  80% {
    opacity: 1;
    transform: scale(1);
  }
  90% {
    opacity: 0;
    transform: scale(1);
  }
}
@keyframes title {
  0% {
    transform: translateX(-101vw) scale(1, 1);
  }
  50% {
    transform: translateX(0) scale(1, 1);
    animation-timing-function: ease;
  }
  60% {
    transform: translateX(1vw) scale(0.95, 1.05);
  }
  80% {
    transform: translateX(-1vw) scale(1, 0.975);
  }
  100% {
    transform: translateX(0) scale(1, 1);
  }
}
@keyframes volcano {
  25% {
    transform: translate(-52.5%, -50%) scaleX(0.8) skewX(20deg);
  }
  75% {
    transform: translate(-47.5%, -50%) scaleX(0.8) skewX(20deg);
  }
}
@keyframes smoke {
  100% {
    transform: translateX(-50%) scale(0.75, 1) skewX(20deg);
  }
}
@keyframes water-splash {
  5% {
    opacity: 1;
  }
  95% {
    transform: translateX(-50%) scale(1.5, 1.75);
    opacity: 0;
  }
}
@keyframes googly-eye {
  0% {
    transform: var(--eye-translate) rotateZ(var(--eye-rotation));
  }
  100% {
    transform: var(--eye-translate)
      rotateZ(calc(var(--eye-rotation) + 1turn * var(--eye-side)));
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes island {
  0% {
    transform: translate(-50%, var(--start-pos)) skewX(-20deg);
  }
  15% {
    transform: translate(-50%, 0) skewX(-20deg);
  }
  25% {
    transform: translate(-50%, calc(var(--start-pos) / 10)) skewX(-20deg);
  }
  35%,
  52%,
  100% {
    transform: translate(-50%, -50%) skewX(-20deg);
  }
  55%,
  61%,
  67%,
  73%,
  79%,
  85%,
  91%,
  97% {
    transform: translate(-50.5%, -50%) skewX(-20deg);
  }
  58%,
  64%,
  70%,
  76%,
  82%,
  88%,
  94% {
    transform: translate(-49.5%, -50%) skewX(-20deg);
  }
}
@keyframes shaking {
  25% {
    transform: translate(-0.5%, 0.5%) rotateZ(5deg);
  }
  75% {
    transform: translate(0.5%, -0.5%) rotateZ(5deg);
  }
}
@keyframes foil {
  0% {
    transform: translate(-50%, -50%);
  }
  100% {
    transform: translate(0, 0);
  }
}
:root {
  --green-light: rgb(196, 211, 202);
  --green: rgb(14, 138, 55);
  --green-dark: rgb(0, 115, 62);
  --red-light: rgb(241, 201, 182);
  --red: rgb(185, 0, 0);
  --purple-light: rgb(212, 201, 227);
  --purple: rgb(99, 68, 150);
  --purple-dark: rgb(75, 72, 95);
  --blue-light: rgb(179, 219, 230);
  --blue: rgb(4, 172, 192);
  --orange: rgb(239, 106, 24);
  --yellow: rgb(239, 196, 24);
  --sand: rgb(230, 228, 184);
  --white: rgb(245, 245, 245);
  --white-50: rgba(245, 245, 245, 0.5);
  --grey-light: rgb(192, 192, 192);
  --grey: rgb(128, 128, 128);
  --grey-dark: rgb(64, 64, 64);
  --black: rgb(20, 20, 20);
  --black-50: rgba(20, 20, 20, 0.5);
  --red-alert: rgb(211, 32, 42);

  --main-bg-attachment: scroll;
  --island-pos: absolute;

  --questions-gap-x: 1rem;
  --questions-gap-y: 4rem;
  --questions-gap: var(--questions-gap-y) var(--questions-gap-x);
}
.text-green {
  color: var(--green);
}
.bg-green {
  background-color: var(--green);
}
.text-red {
  color: var(--red);
}
.bg-red {
  background-color: var(--red);
}
.bg-red-light {
  background-color: var(--red-light);
}
.bg-blue {
  background-color: var(--blue);
}
.display-none {
  display: none !important;
}
.hidden {
  visibility: hidden;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@media (prefers-reduced-motion) {
  * {
    animation: none !important;
  }
}
html {
  font-family: AmaticSC, sans-serif;
  color: var(--black);
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  background: linear-gradient(
      to bottom,
      blue -7rem,
      var(--blue) 1.5rem,
      transparent 6.5rem,
      var(--white) 8.25rem,
      transparent 8.25rem,
      var(--blue) 25rem
    ),
    var(--blue-light);
  background-size: 100% 100%;
  background-attachment: var(--main-bg-attachment);
}
@media screen and (max-device-width: 480px) {
  html {
    font-size: 1rem;
  }
}
body {
  position: relative;
  min-height: 100vh;
  padding: 0.5rem 0.5rem 2rem;
}
nav {
  justify-content: space-between !important;
}
.menu-btn {
  font-size: 1rem;
  color: var(--black-50);
  text-shadow: none;
  background: none;
  border: none;
  box-shadow: none !important;
}
.menu-btn:hover {
  color: var(--black);
  background: var(--white-50);
}
.island {
  position: var(--island-pos);
  top: 8.75rem;
  left: 50%;
  height: 2.25rem;
  width: 15.5rem;
  border-radius: 5rem;
  transform: translate(-50%, -50%) skewX(-20deg);
  --island-bg: var(--green-dark);
  --island-sand: var(--sand);
  background: var(--island-bg);
  box-shadow: 0.05rem 0.15rem 0 var(--island-sand);

  filter: drop-shadow(0 0.05rem 0 var(--blue));

  --start-pos: -13rem;
  animation: island 1.5s ease-in-out;
}

.island::before {
  content: '';
  position: var(--island-pos);
  bottom: -0.7rem;
  left: 1.5rem;
  height: 1.5rem;
  width: 4.5rem;
  border-radius: 5rem;
  background: var(--island-bg);
  box-shadow: 0 0.2rem 0 var(--island-sand);
}
.island::after {
  content: '';
  position: var(--island-pos);
  bottom: -1rem;
  right: 3.5rem;
  height: 1.75rem;
  width: 3rem;
  border-radius: 5rem;
  background: var(--island-bg);
  box-shadow: 0 0.15rem 0 var(--island-sand);
}
.water-splash {
  z-index: -1;
  position: var(--island-pos);
  top: 7.8rem;
  left: 50%;
  height: 4.5rem;
  width: 20rem;
  border-radius: 2rem 2rem 10rem 10rem;
  border: 0.2rem solid var(--white-50);
  border-top-color: transparent;
  transform-origin: top center;
  transform: translateX(-9rem) skewX(-20deg);
  opacity: 0;
  animation: water-splash 1s ease-out 0.2s 1;
}

.water-splash::before {
  content: '';
  position: var(--island-pos);
  top: 0;
  left: 50%;
  height: 1.8rem;
  width: 12rem;
  border-radius: 2rem 2rem 10rem 10rem;
  border: 0.15rem solid var(--white-50);
  border-top-color: transparent;
  transform-origin: top center;
  transform: translateX(-50%) skewX(-20deg);
  opacity: 0;
  animation: water-splash 1s ease-out 0.2s 1;
}
.volcano {
  position: var(--island-pos);
  top: -0.95rem;
  left: 50%;
  height: 0;
  width: 2.35rem;
  border: solid 1rem transparent;
  border-bottom-color: var(--island-bg);
  transform: translate(-50%, -50%) scaleX(0.8) skewX(20deg);
  animation: volcano 90ms linear 0.5s 11;
}

.smoke-and-lava {
  z-index: 1;
  position: var(--island-pos);
  top: -8rem;
  left: 50%;
  height: 0;
  width: 14.2rem;
  border: solid 7rem transparent;
  border-top-color: var(--black-50);
  transform: translateX(-50%) scale(0, 0) skewX(20deg);
  animation: smoke 2s ease 1s forwards;
}

.smoke-and-lava::before {
  content: '';
  position: var(--island-pos);
  top: 0.05rem;
  left: -0.15rem;
  height: 1rem;
  width: 0.1rem;
  border-radius: 5rem;
  background: var(--yellow);
  box-shadow: 0 0 0.05rem 0.05rem var(--red);
  transform: rotateZ(15deg);
}
.smoke-and-lava::after {
  content: '';
  position: var(--island-pos);
  top: 0.05rem;
  left: 0.25rem;
  height: 0.5rem;
  width: 0.1rem;
  border-radius: 5rem;
  background: var(--yellow);
  box-shadow: 0 0 0.05rem 0.05rem var(--red);
  transform: rotateZ(-25deg);
}
.site-title {
  font-size: 2.5rem;
  text-transform: uppercase;
  margin: 12rem -0.5rem 2.5rem;
  padding: 0.5rem 0;
  background: linear-gradient(to bottom, var(--orange) 10%, var(--yellow) 110%);
  box-shadow: 0 0.15rem 0 var(--black-50);
  transform-origin: center right;
  transform: translateX(-101vw);
  animation: title 0.5s ease-in 1.5s forwards;
}
button {
  user-select: none !important;
  cursor: pointer;
  font: inherit;
  font-size: 1.5rem;
  color: var(--white);
  text-shadow: 0.05rem 0.05rem 0 black;
  padding: 0.12rem 0.6rem;
  min-width: 4rem;
  border-radius: 0.25rem;
  border: 0.075rem solid var(--black-50);
  background: var(--orange);
  box-shadow: 0 0.2rem 0 var(--grey-dark);
  transform-origin: bottom center;
  transition: all 0.15s ease-out;
}
button[disabled] {
  cursor: not-allowed;
}
button:hover {
  transform: translateY(0.1rem);
  box-shadow: 0 0.1rem 0 var(--grey-dark);
}
button:active {
  transform: translateY(0.2rem);
  opacity: 0.8;
  box-shadow: none;
  filter: none;
}
.icon {
  margin-left: -0.25rem;
}
.word-bolt {
  display: inline-block;
  white-space: nowrap;
  color: #fff;
  text-shadow: 0.05rem 0.05rem 0.05rem var(--red-light),
    0.1rem 0.1rem 0 var(--red);
}
.word-bolt span:first-child {
  display: inline-block;
  animation: bolt-BOL 4s ease-in-out infinite;
  transform-origin: bottom right;
}
.word-bolt span:last-child {
  display: inline-block;
  animation: bolt-T 4s ease-in-out infinite;
  transform-origin: bottom center;
}

.word-bird {
  text-shadow: 0.05rem 0.05rem 0 var(--black);
  white-space: nowrap;
}
.word-bird span {
  display: inline-block;
  transform-origin: bottom center;
  animation: bird-letter 3s ease infinite;
  --letter-delay: 150ms;
}
.word-bird span:nth-child(1) {
  color: var(--red);
  animation-delay: calc(1 * var(--letter-delay));
}
.word-bird span:nth-child(2) {
  color: var(--purple);
  animation-delay: calc(2 * var(--letter-delay));
}
.word-bird span:nth-child(3) {
  color: var(--yellow);
  animation-delay: calc(3 * var(--letter-delay));
}
.word-bird span:nth-child(4) {
  color: var(--green);
  animation-delay: calc(4 * var(--letter-delay));
}
main,
.step {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: var(--questions-gap);
}
.row {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: calc(var(--questions-gap-y) / 3) var(--questions-gap-x);
}
.question {
  position: relative;
  border-radius: 0.5rem;
  box-shadow: 0.1rem 0.15rem 0 var(--black-50);
}
.struck.active {
  color: var(--white) !important;
  text-shadow: 0.05rem 0.05rem 0 var(--black);
  box-shadow: 0.1rem 0.15rem 0 var(--orange) !important;

  animation: shaking 0.05s linear 10 !important;
}
.struck.active .question-content {
  background: var(--yellow) !important;
  box-shadow: 0.2rem 0.1rem 0 -0.15rem var(--orange) !important;
}
.struck.active::before,
.struck.active::after {
  animation: none !important;
  transform: scale(4, 0.7) translateY(-50%) !important;
  background: var(--yellow) !important;
}
.question-content {
  user-select: none !important;
  font-size: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 4rem;
  width: auto;
  height: auto;
  max-width: 14rem;
  padding: 0.5rem 1rem;
  font-weight: bold;
  border-radius: 0.5rem;
  background: var(--white-50);
  position: relative;
  z-index: 1;
  gap: calc(var(--questions-gap-x) / 2);
}
figure,
img {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  border-radius: 0.66rem;
  overflow: hidden;
}
.foil::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 200%;
  width: 200%;
  opacity: 0.25;
  background: linear-gradient(
    to bottom right,
    var(--green),
    #00f,
    #f00,
    var(--green),
    #00f,
    #f00,
    var(--green)
  );
  transform: translate(-50%, -50%);
  animation: foil 2s ease infinite;
}
.question.active {
  z-index: 1;
  box-shadow: 0.1rem 0.15rem 0 var(--red);
  animation: hovering 2s ease-in-out 0.25s infinite;
  cursor: crosshair;
}
.question.active .question-content {
  background: linear-gradient(
    to bottom,
    var(--red) -50%,
    var(--orange) 20%,
    var(--yellow) 110%
  );
  box-shadow: 0.2rem 0.1rem 0 -0.15rem var(--red);
}
.question.active::before,
.question.active::after {
  content: '';
  position: absolute;
  top: 40%;
  width: 2rem;
  height: 2rem;
  box-shadow: 0 0.1rem 0 var(--orange);
  --wing-scale: scale(2.5, 1);
  transform: translate(calc(var(--wing-side) * -90%), -50%) var(--wing-scale);
  animation: wing 2s ease-in-out infinite;
}
.question.active::before {
  left: 0;
  border-radius: 0.1rem 0.5rem 0.1rem 2rem;
  background: linear-gradient(200deg, var(--red) -15%, var(--yellow) 80%);
  --wing-side: 1;
  transform-origin: 100% 0.5rem;
}
.question.active::after {
  right: 0;
  border-radius: 0.5rem 0.1rem 2rem 0.1rem;
  background: linear-gradient(160deg, var(--red) -15%, var(--yellow) 80%);
  --wing-side: -1;
  transform-origin: 0 0.5rem;
}
/* EYES */
.question.active:hover .question-content::before,
.question.active:hover .question-content::after {
  content: '⬤';
  position: absolute;
  top: -0.5rem;
  left: 50%;
  height: 1.5rem;
  width: 1.5rem;
  font-size: 1rem;
  text-align: left;
  border-radius: 99rem;
  background: radial-gradient(#fff 50%, var(--sand));
  box-shadow: 0 0 0.1rem var(--black-50);
  transform-origin: center;
  transform: var(--eye-translate) var(--eye-rotation);
  animation: googly-eye 1.5s linear infinite;
}
.question.active:hover .question-content::before {
  --eye-translate: translateX(-150%);
  --eye-rotation: -0.4turn;
  --eye-side: 1;
}
.question.active:hover .question-content::after {
  --eye-translate: translateX(50%);
  --eye-rotation: 0.5turn;
  --eye-side: -1;
}
.answer {
  z-index: 666;
}
.answer.static {
  font-size: 1.2rem;
  font-weight: bold;
  min-width: 3rem;
  padding: 0.12rem 0.6rem;
  background: var(--blue-light);
  border-radius: 0.25rem;
  box-shadow: 0.075rem 0.1rem 0 var(--black-50);
}
.svg-lines {
  position: absolute;
  top: 0;
  left: 0;
  height: inherit;
  width: inherit;
  pointer-events: none !important;
}
.svg-lines path,
.svg-lines polygon {
  stroke: var(--blue-light);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 0.2rem;
  filter: drop-shadow(0.1rem 0.1rem var(--black-50));
}
.line {
  fill: none;
}
.arrow-head {
  fill: var(--blue-light);
}
.fade-in {
  animation: fade-in 1s ease forwards;
}
