@import 'shared.css';

body {
  position: relative;
  min-height: 100vh;
  padding: 0.5rem 0.5rem 5rem;
}
nav {
  justify-content: space-between !important;
}
.island {
  position: var(--island-pos);
  top: 8.75rem;
  left: 50%;
  height: 2.25rem;
  width: 15.5rem;
  border-radius: 5rem;
  transform: translate(-50%, -50%) skewX(-20deg);
  --island-bg: var(--green-dark);
  --island-sand: var(--sand);
  background: var(--island-bg);
  box-shadow: 0.05rem 0.15rem 0 var(--island-sand);

  filter: drop-shadow(0 0.05rem 0 var(--blue-50));

  --start-pos: -13rem;
  animation: island 1.5s ease-in-out;
}

.island::before {
  content: '';
  position: var(--island-pos);
  bottom: -0.7rem;
  left: 1.5rem;
  height: 1.5rem;
  width: 4.5rem;
  border-radius: 5rem;
  background: var(--island-bg);
  box-shadow: 0 0.2rem 0 var(--island-sand);
}
.island::after {
  content: '';
  position: var(--island-pos);
  bottom: -1rem;
  right: 3.5rem;
  height: 1.75rem;
  width: 3rem;
  border-radius: 5rem;
  background: var(--island-bg);
  box-shadow: 0 0.15rem 0 var(--island-sand);
}
.water-splash {
  z-index: -1;
  position: var(--island-pos);
  top: 7.8rem;
  left: 50%;
  height: 4.5rem;
  width: 20rem;
  border-radius: 2rem 2rem 10rem 10rem;
  border: 0.2rem solid var(--white-50);
  border-top-color: transparent;
  transform-origin: top center;
  transform: translateX(-9rem) skewX(-20deg);
  opacity: 0;
  animation: water-splash 1s ease-out 0.2s 1;
}

.water-splash::before {
  content: '';
  position: var(--island-pos);
  top: 0;
  left: 50%;
  height: 1.8rem;
  width: 12rem;
  border-radius: 2rem 2rem 10rem 10rem;
  border: 0.15rem solid var(--white-50);
  border-top-color: transparent;
  transform-origin: top center;
  transform: translateX(-50%) skewX(-20deg);
  opacity: 0;
  animation: water-splash 1s ease-out 0.2s 1;
}
.volcano {
  position: var(--island-pos);
  top: -0.95rem;
  left: 50%;
  height: 0;
  width: 2.35rem;
  border: solid 1rem transparent;
  border-bottom-color: var(--island-bg);
  transform: translate(-50%, -50%) scaleX(0.8) skewX(20deg);
  animation: volcano 90ms linear 0.5s 11;
}

.smoke-and-lava {
  z-index: 1;
  position: var(--island-pos);
  top: -8rem;
  left: 50%;
  height: 0;
  width: 14.2rem;
  border: solid 7rem transparent;
  border-top-color: var(--black-50);
  transform: translateX(-50%) scale(0, 0) skewX(20deg);
  animation: smoke 2s ease 1s forwards;
}

.smoke-and-lava::before {
  content: '';
  position: var(--island-pos);
  top: 0.05rem;
  left: -0.15rem;
  height: 1rem;
  width: 0.1rem;
  border-radius: 5rem;
  background: var(--yellow);
  box-shadow: 0 0 0.05rem 0.05rem var(--red-dark);
  transform: rotateZ(15deg);
}
.smoke-and-lava::after {
  content: '';
  position: var(--island-pos);
  top: 0.05rem;
  left: 0.25rem;
  height: 0.5rem;
  width: 0.1rem;
  border-radius: 5rem;
  background: var(--yellow);
  box-shadow: 0 0 0.05rem 0.05rem var(--red-dark);
  transform: rotateZ(-25deg);
}
#site-title {
  font-size: 2.5rem;
  text-transform: uppercase;
  margin: 12rem -0.5rem 2.5rem;
  padding: 0.5rem 0;
  background: linear-gradient(to bottom, var(--orange) 10%, var(--yellow) 110%);
  box-shadow: 0 0.15rem 0 var(--black-50);
  transform-origin: center right;
  transform: translateX(-101vw);
  animation: title 0.5s ease-in 1.5s forwards;
}
#site-title.skip-animation {
  transform: none !important;
  animation: none !important;
}
#route-start {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
main,
.step {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: var(--questions-gap);
}
.step[data-id='bolt'],
.step[data-id='wait'] {
  gap: calc(var(--questions-gap-y) / 2) var(--questions-gap-x);
}
.question {
  position: relative;
  border-radius: 0.5rem;
  box-shadow: 0.1rem 0.15rem 0 var(--black-50);
}
.struck.active {
  color: var(--white) !important;
  text-shadow: var(--text-shadow-default);
  box-shadow: 0.1rem 0.15rem 0 var(--orange) !important;

  animation: shaking 0.05s linear 10 !important;
}
.struck.active .question-content {
  background: var(--yellow) !important;
  box-shadow: 0.2rem 0.1rem 0 -0.15rem var(--orange) !important;
}
.struck.active::before,
.struck.active::after {
  animation: none !important;
  transform: scale(4, 0.7) translateY(-50%) !important;
  background: var(--yellow) !important;
}
.question-content {
  user-select: none !important;
  font-size: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 4rem;
  width: auto;
  height: auto;
  max-width: 14rem;
  padding: 0.5rem 1rem;
  font-weight: bold;
  border-radius: 0.5rem;
  background: var(--white-50);
  position: relative;
  z-index: 1;
  gap: calc(var(--questions-gap-x) / 2);
}
figure,
img {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  border-radius: 0.66rem;
  overflow: hidden;
}
.question.active {
  z-index: 1;
  box-shadow: 0.1rem 0.15rem 0 var(--red-dark);
  animation: hovering 2s ease-in-out 0.25s infinite;
  cursor: crosshair;
}
.question.active .question-content {
  background: linear-gradient(
    to bottom,
    var(--red-dark) -50%,
    var(--orange) 20%,
    var(--yellow) 110%
  );
  box-shadow: 0.2rem 0.1rem 0 -0.15rem var(--red-dark);
}
.question.active::before,
.question.active::after {
  content: '';
  position: absolute;
  top: 40%;
  width: 2rem;
  height: 2rem;
  box-shadow: 0 0.1rem 0 var(--orange);
  --wing-scale: scale(2.5, 1);
  transform: translate(calc(var(--wing-side) * -90%), -50%) var(--wing-scale);
  animation: wing 2s ease-in-out infinite;
}
.question.active::before {
  left: 0;
  border-radius: 0.1rem 0.5rem 0.1rem 2rem;
  background: linear-gradient(200deg, var(--red-dark) -15%, var(--yellow) 80%);
  --wing-side: 1;
  transform-origin: 100% 0.5rem;
}
.question.active::after {
  right: 0;
  border-radius: 0.5rem 0.1rem 2rem 0.1rem;
  background: linear-gradient(160deg, var(--red-dark) -15%, var(--yellow) 80%);
  --wing-side: -1;
  transform-origin: 0 0.5rem;
}
/* EYES */
.question.active:hover .question-content::before,
.question.active:hover .question-content::after {
  content: '⬤';
  position: absolute;
  top: -0.75rem;
  left: 50%;
  height: 1.5rem;
  width: 1.5rem;
  font-size: 1rem;
  text-align: left;
  border-radius: 99rem;
  background: radial-gradient(#fff 50%, var(--sand));
  box-shadow: 0 0 0.1rem var(--black-50);
  transform-origin: center;
  transform: var(--eye-translate) var(--eye-rotation);
  animation: googly-eye 1.5s linear infinite;
}
.question.active:hover .question-content::before {
  --eye-translate: translateX(-150%);
  --eye-rotation: -0.4turn;
  --eye-side: 1;
}
.question.active:hover .question-content::after {
  --eye-translate: translateX(50%);
  --eye-rotation: 0.5turn;
  --eye-side: -1;
}
.answer {
  z-index: 666;
}
.answer.static {
  font-size: 1.2rem;
  font-weight: bold;
  min-width: 3rem;
  padding: 0.12rem 0.6rem;
  background: var(--blue-light);
  border-radius: 0.25rem;
  box-shadow: 0.075rem 0.1rem 0 var(--black-50);
}
.svg-lines {
  position: absolute;
  top: 0;
  left: 0;
  height: inherit;
  width: inherit;
  pointer-events: none !important;
}
.svg-lines path,
.svg-lines polygon {
  stroke: var(--blue-light);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 0.2rem;
  filter: drop-shadow(0.1rem 0.1rem var(--black-50));
}
.line {
  fill: none;
}
.arrow-head {
  fill: var(--blue-light);
}
.copyright {
}
