@keyframes wing {
  30% {
    transform: translate(calc(var(--wing-side) * -95%), -50%)
      rotateZ(calc(var(--wing-side) * -40deg)) scale(2.8, 0.5)
      skewX(calc(var(--wing-side) * 10deg));
  }
  0%,
  100% {
    transform: translate(calc(var(--wing-side) * -95%), -50%)
      rotateZ(calc(var(--wing-side) * 10deg)) var(--wing-scale)
      skewX(calc(var(--wing-side) * 10deg));
  }
}
@keyframes bird-letter {
  0%,
  50% {
    transform: translateY(0);
  }
  10% {
    transform: scaleY(0.9);
  }
  25% {
    transform: translateY(-10%);
  }
}
@keyframes hovering {
  30% {
    transform: translateY(-0.25rem);
  }
}
@keyframes bolt-T {
  0%,
  100% {
    transform: rotateZ(10deg) translateY(-50%);
  }
  3% {
    transform: rotateZ(-2deg) translateY(0) scaleY(0.9);
  }
  10%,
  80% {
    transform: rotateZ(0deg) translateY(0);
  }
}
@keyframes bolt-BOL {
  0%,
  3%,
  100% {
    opacity: 0;
    transform: scale(0);
  }
  7% {
    opacity: 1;
    transform: scale(1.05);
  }
  10% {
    opacity: 1;
    transform: scale(0.95);
  }
  12.5%,
  80% {
    opacity: 1;
    transform: scale(1);
  }
  90% {
    opacity: 0;
    transform: scale(1);
  }
}
@keyframes title {
  0% {
    transform: translateX(-101vw) scale(1, 1);
  }
  50% {
    transform: translateX(0) scale(1, 1);
    animation-timing-function: ease;
  }
  60% {
    transform: translateX(1vw) scale(0.95, 1.05);
  }
  80% {
    transform: translateX(-1vw) scale(1, 0.975);
  }
  100% {
    transform: translateX(0) scale(1, 1);
  }
}
@keyframes volcano {
  25% {
    transform: translate(-52.5%, -50%) scaleX(0.8) skewX(20deg);
  }
  75% {
    transform: translate(-47.5%, -50%) scaleX(0.8) skewX(20deg);
  }
}
@keyframes smoke {
  100% {
    transform: translateX(-50%) scale(0.75, 1) skewX(20deg);
  }
}
@keyframes water-splash {
  5% {
    opacity: 1;
  }
  95% {
    transform: translateX(-50%) scale(1.5, 1.75);
    opacity: 0;
  }
}
@keyframes googly-eye {
  0% {
    transform: var(--eye-translate) rotateZ(var(--eye-rotation));
  }
  100% {
    transform: var(--eye-translate)
      rotateZ(calc(var(--eye-rotation) + 1turn * var(--eye-side)));
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes island {
  0% {
    transform: translate(-50%, var(--start-pos)) skewX(-20deg);
  }
  15% {
    transform: translate(-50%, 0) skewX(-20deg);
  }
  25% {
    transform: translate(-50%, calc(var(--start-pos) / 10)) skewX(-20deg);
  }
  35%,
  52%,
  100% {
    transform: translate(-50%, -50%) skewX(-20deg);
  }
  55%,
  61%,
  67%,
  73%,
  79%,
  85%,
  91%,
  97% {
    transform: translate(-50.5%, -50%) skewX(-20deg);
  }
  58%,
  64%,
  70%,
  76%,
  82%,
  88%,
  94% {
    transform: translate(-49.5%, -50%) skewX(-20deg);
  }
}
@keyframes shaking {
  25% {
    transform: translate(-0.5%, 0.5%) rotateZ(5deg);
  }
  75% {
    transform: translate(0.5%, -0.5%) rotateZ(5deg);
  }
}
@keyframes foil {
  0% {
    transform: translate(-50%, -50%);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes spin-right {
  0% {
    transform: rotateZ(0);
  }
  100% {
    transform: rotateZ(1turn);
  }
}
@keyframes tap {
  100% {
    transform: rotateZ(90deg);
  }
}
@keyframes damage {
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}
@keyframes tremble {
  50% {
    transform: translateY(0.5%);
  }
}
@keyframes cursor-splash {
  0% {
    transform-origin: center;
    transform: scale(0, 0);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}
:root {
  --green-light: rgb(196, 211, 202);
  --green: rgb(14, 138, 55);
  --green-dark: rgb(0, 115, 62);
  --red-light: rgb(241, 201, 182);
  --red: rgb(228, 153, 119);
  --red-dark: rgb(185, 0, 0);
  --purple-light: rgb(212, 201, 227);
  --purple: rgb(99, 68, 150);
  --purple-dark: rgb(75, 72, 95);
  --blue-light: rgb(179, 219, 230);
  --blue: rgb(4, 172, 192);
  --blue-50: rgb(4, 172, 192, 0.5);
  --blue-dark: rgb(4, 111, 133);
  --blue-rgb: rgb(4, 4, 255);
  --orange: rgb(239, 106, 24);
  --yellow: rgb(239, 196, 24);
  --sand: rgb(230, 228, 184);
  --white: rgb(245, 245, 245);
  --white-50: rgba(245, 245, 245, 0.5);
  --grey-light: rgb(192, 192, 192);
  --grey: rgb(128, 128, 128);
  --grey-dark: rgb(64, 64, 64);
  --black: rgb(20, 20, 20);
  --black-50: rgba(20, 20, 20, 0.5);
  --red-alert: rgb(211, 32, 42);

  --text-shadow-default: 0.05rem 0.05rem 0 var(--black);

  --main-bg-attachment: scroll;
  --bg-horizon-pos: 8.25rem;
  --island-pos: absolute;

  --questions-gap-x: 1rem;
  --questions-gap-y: 4rem;
  --questions-gap: var(--questions-gap-y) var(--questions-gap-x);
}
.text-green {
  color: var(--green);
}
.bg-green {
  background-color: var(--green);
}
.text-red-dark {
  color: var(--red-dark);
}
.bg-red-dark {
  background-color: var(--red-dark);
}
.text-red {
  color: var(--red);
}
.bg-red {
  background-color: var(--red);
}
.bg-red-light {
  background-color: var(--red-light);
}
.bg-blue {
  background-color: var(--blue);
}
.bg-blue-dark {
  background-color: var(--blue-dark);
}
.text-black {
  color: var(--black);
}
.bg-black-50 {
  background-color: var(--black-50);
}
.text-shadow-none {
  text-shadow: none;
}
.display-none {
  display: none !important;
}
.hidden {
  visibility: hidden;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@media (prefers-reduced-motion) {
  * {
    animation: none !important;
  }
}
html {
  font-family: AmaticSC, sans-serif;
  color: var(--black);
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  background: linear-gradient(
      to bottom,
      var(--blue-rgb) -7rem,
      var(--blue) 1.5rem,
      transparent 6.5rem,
      var(--white) var(--bg-horizon-pos),
      transparent var(--bg-horizon-pos),
      var(--blue) 25rem
    ),
    var(--blue-light);
  background-size: 100% 100%;
  background-attachment: var(--main-bg-attachment);
}
@media screen and (max-device-width: 480px) {
  html {
    font-size: 1rem;
  }
}
img {
  color: var(--white);
  text-shadow: var(--text-shadow-default);
}
.icon {
  margin-left: -0.25rem;
  margin-right: 0.5rem;
}
button {
  user-select: none !important;
  cursor: pointer;
  font: inherit;
  font-size: 1.5rem;
  color: var(--white);
  text-shadow: var(--text-shadow-default);
  padding: 0.12rem 0.6rem;
  min-width: 4rem;
  border-radius: 0.25rem;
  border: 0.075rem solid var(--black-50);
  background: var(--orange);
  box-shadow: 0 0.2rem 0 var(--grey-dark);
  transform-origin: bottom center;
  transition: all 0.15s ease-out;
}
button[disabled] {
  cursor: not-allowed;
  filter: saturate(0);
  opacity: 0.5;
}
button:hover {
  transform: translateY(0.1rem);
  box-shadow: 0 0.1rem 0 var(--grey-dark);
}
button:active {
  transform: translateY(0.2rem);
  opacity: 0.8;
  box-shadow: none;
  filter: none;
}
.menu-btn {
  font-size: 1rem;
  color: var(--black-50);
  text-shadow: none;
  background: none;
  border: none;
  box-shadow: none !important;
}
.menu-btn:hover {
  color: var(--black);
  background: var(--white-50);
}
.copyright {
  gap: 0.4rem;
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  padding: 1rem;
  color: var(--white);
  text-shadow: var(--text-shadow-default);
}
.copyright a {
  text-decoration: none;
  color: var(--orange);
  background: linear-gradient(to bottom, var(--orange) 10%, var(--yellow) 110%);
  text-shadow: none;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(0.05rem 0.05rem var(--black));
}
.copyright a:hover {
  text-decoration: underline;
}
.row {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: calc(var(--questions-gap-y) / 3) var(--questions-gap-x);
}
.word-bolt {
  display: inline-block;
  white-space: nowrap;
  color: #fff;
  text-shadow: 0.05rem 0.05rem 0.05rem var(--red-light),
    0.1rem 0.1rem 0 var(--red-dark);
}
.word-bolt span:first-child {
  display: inline-block;
  animation: bolt-BOL 4s ease-in-out infinite;
  transform-origin: bottom right;
}
.word-bolt span:last-child {
  display: inline-block;
  animation: bolt-T 4s ease-in-out infinite;
  transform-origin: bottom center;
}

.word-bird {
  text-shadow: var(--text-shadow-default);
  white-space: nowrap;
}
.word-bird span {
  display: inline-block;
  transform-origin: bottom center;
  animation: bird-letter 3s ease infinite;
  --letter-delay: 150ms;
}
.word-bird span:nth-child(1) {
  color: var(--red-dark);
  animation-delay: calc(1 * var(--letter-delay));
}
.word-bird span:nth-child(2) {
  color: var(--purple);
  animation-delay: calc(2 * var(--letter-delay));
}
.word-bird span:nth-child(3) {
  color: var(--yellow);
  animation-delay: calc(3 * var(--letter-delay));
}
.word-bird span:nth-child(4) {
  color: var(--green);
  animation-delay: calc(4 * var(--letter-delay));
}
.foil {
  filter: brightness(1.1);
}
.foil::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 200%;
  width: 200%;
  opacity: 0.33;
  background: linear-gradient(
    to bottom right,
    var(--green),
    #00f,
    #f00,
    var(--green),
    #00f,
    #f00,
    var(--green)
  );
  transform: translate(-50%, -50%);
  animation: foil 2s ease infinite;
}
.fade-in {
  animation: fade-in 1s ease forwards;
}
